<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="udeytech_banners_slider" frontName="udeytech_banners_slider">
            <module name="UdeyTech_BannerSlider"/>
        </route>
    </router>
</config>
