<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="udeytech_out_of_stock_item" instance="UdeyTech\OutOfStockItem\Observer\RemoveOutOfStockItem" />
    </event>
</config>
